h1, h2, h3, h4, h5, h6, p {
    font-family: 'Inter';
}

pre, code {
    font-family: 'LigaLiberationMono';
    font-size: 12px !important;
}


/* 
h1 {

    font-size: 24px !important;
}

h2 {
    font-size: 20px !important;
}

h3 {
    font-size: 18px !important;
}

h4 {
    font-size: 16px !important;
}

h5 {
    font-size: 14px !important;
}


p, ul, li, dl, dd, dt {
    font-size: 14px;
} */
