code {
  font-family: "Fira Code";
  font-size: 14px !important;
}

body {
  background: #000e07;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

pre {
  background: #0f1610 !important;
}

blockquote {
  border-left-color: #2f7e25;
  border-left-width: 3px;
  background: #637d7510;
}

::selection {
  background: #1d4125; /* WebKit/Blink Browsers */
}

table {
  table-layout: fixed;
  width: 100%;
}

th,
td {
  background: #637d7510;
  padding: 0.5rem;
}

tbody tr:nth-child(odd) {
  background: #637d7510;
}

tbody tr:nth-child(even) {
  background: #000e0740;
}

thead {
  border-bottom-width: 0 !important;
}
th {
  border-bottom: 0px !important;
}

span.hljs-comment {
  color: #5a8055ad;
}

span.hljs-string,
span.hljs-params {
  color: #637d75;
}

span.hljs-built_in,
span.hljs-title.class_,
span.hljs-name {
  color: #717f24;
}

span.hljs-keyword {
  color: #2f7e25;
}

span.hljs-number {
  color: #00e0c4;
}

span.hljs-attr,
span.hljs-subst,
span.hljs-variable {
  color: #327f77;
}

span.hljs-variable.language_ {
  color: #7f2b27;
}

.code-line code,
.code-line {
  color: #637d75 !important;
}

code {
  font-size: 15px;
}

span.hljs-property {
  color: #2f6a7f;
}

span.hljs-title.function_,
span.hljs-function {
  color: #717f24 !important;
}

span.hljs-literal {
  color: #18e000;
}
